#admin-interface,
#output {
	width: 48%;
	display: inline-block;
}
.wrap {
	text-align: center;
}
#admin-interface {
	text-align: left;
}
#output  {
	float: right;
}
button {
	display: block !important;
	margin-bottom: 10px;
}
#admin-interface {
	margin-left: 5px;
	float: left;
}
.sub-wrapper {
	position: fixed;
}